/*  your css code here. If applicable */
table.middle {
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 5px; /* spacing between cells */
  width: 70%;
}

table.middle th, table.middle td {
  border: 1px solid black;
  padding: 1px; /* corrected padding */
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}
